@use "mixins" as *;

@font-face {
  font-family: "Syne Mono";
  src: url(../fonts/Syne_Mono/SyneMono-Regular.ttf) format(truetype);
  font-weight: 400;
}

// NAVIGATION BAR

#nav-bar {
  font-family: "Syne Mono", monospace;
  background-color: #e9ecef;

  .nav-brand {
    font-size: 30px;
  }
  .nav-link {
    font-size: 20px;
    text-align: end;
  }
}

// LOADER

.loader-container {
  @include flex(row, center, center, 0);
  height: 90vh;
}

// NOT FOUND PAGE

#not-found-page {
  font-family: "Syne Mono", monospace;
  @include flex(column, center, center, 30px);
  height: 90vh;

  .error-code {
    font-size: 50px;
  }

  .home-link {
    font-size: 20px;
    color: #000000;
  }
}

// HELPERS

.error-message {
  text-align: center;
  font-size: 18px;
}

.link-style {
  color: inherit;
}

// MAIN SEARCH PAGE

#search-page {
  font-family: "Syne Mono", monospace;

  .artist-search {
    @include flex(row, center, center, 0);
    margin: 70px 0;

    &__title {
      font-size: 35px;
      margin: 0 20px 0 50px;
      margin-bottom: 0;
      text-align: center;
    }

    &__input-box {
      width: 350px;
      margin-right: 50px;

      .search-input {
        height: 45px;
        font-size: 20px;

        &:focus {
          outline: none;
          box-shadow: 0 0 5px #000000;
          border: #000000 solid 1px;
        }
      }

      .search-btn {
        width: 50px;

        &:hover {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
  }

  .artists-list {
    @include flex(column, center, center, 20px);

    &__card {
      width: 35%;

      &:hover {
        box-shadow: 0 0 15px #000000;
        border: solid 1px #000000;
      }

      &--content {
        @include flex(row, space-between, center, 30px);
        padding: 16px 32px;

        .card-title {
          margin-bottom: 0;
          width: 75%;
        }
      }
    }
  }
}

// SONGS PAGE

#songs-page {
  font-family: "Syne Mono", monospace;

  .songs-header {
    @include flex(row, space-between, center, 30px);
    margin-top: 70px;
    padding: 0 200px;

    &__title {
      font-size: 25px;
      margin: 0;
    }

    &__amount {
      font-size: 18px;
      margin: 0;
    }
  }

  .error-container {
    @include flex(column, center, center, 0);
    margin-top: 70px;
  }

  .all-songs-container {
    @include flex(row, center, center, 20px);
    flex-wrap: wrap;
    margin: 50px 50px 100px;

    .song-card {
      width: 40%;
      min-width: 350px;

      &:hover {
        box-shadow: 0 0 15px #000000;
        border: solid 1px #000000;
      }

      &__body {
        @include flex(row, space-between, center, 50px);
        color: #000000;
        padding: 16px 32px;

        &--name {
          width: 70%;
        }

        &--link {
          text-align: end;
          color: inherit;
        }
      }
    }
  }
}

// LYRICS PAGE

#lyrics-page {
  @include flex(column, center, center, 10px);
  font-family: "Syne Mono", monospace;
  margin: 30px 50px;

  .lyrics-title {
    font-size: 30px;
    margin: 30px 50px 20px;
  }

  .lyrics-text {
    font-family: "Syne Mono", monospace;
    font-size: 18px;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    text-align: center;
    padding: 30px 20px;

    &:hover {
      box-shadow: 0 0 5px #000000;
      border: #000000 solid 1px;
    }
  }

  .share-container {
    @include flex(row, center, center, 20px);

    .share-title {
      font-size: 22px;
      margin: 0;
    }

    .sm-link {
      &__btn {
        background-color: transparent;
        font-size: 25px;
        transition-duration: 500ms;
        outline: none;
        border: none;

        &:hover {
          transform: scale(1.5);
          transition-duration: 500ms;
        }
      }
    }
  }
}
