@font-face {
  font-family: "Syne Mono";
  src: url(../fonts/Syne_Mono/SyneMono-Regular.ttf) format(truetype);
  font-weight: 400;
}
.error-message {
  text-align: center;
  font-size: 18px;
  margin: 0 50px;
}

.link-style {
  color: inherit;
  text-align: center;
}

.sm-link__btn {
  background-color: transparent;
  font-size: 25px;
  transition-duration: 800ms;
  outline: none;
  border: none;
  color: #000000;
}
.sm-link__btn:hover {
  transform: scale(1.3);
  transition-duration: 800ms;
}

.change-theme-btn {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #000000;
  position: absolute;
  top: 16px;
  right: 50px;
}

.loader-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
  min-height: 90vh;
  padding-bottom: 150px;
  font-family: "Syne Mono", monospace;
  background-color: #f8f9fa;
}

#not-found-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  min-height: 90vh;
  padding-bottom: 150px;
  font-family: "Syne Mono", monospace;
  background-color: #f8f9fa;
}
#not-found-page .error-code {
  font-size: 50px;
  margin: 0;
}
#not-found-page .home-link {
  font-size: 20px;
  color: #000000;
}

#nav-bar {
  font-family: "Syne Mono", monospace;
  background-color: #e9ecef;
  padding: 10px 100px;
}
#nav-bar .nav-brand {
  font-size: 30px;
  margin-right: 50px;
}
#nav-bar .nav-link {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  text-align: end;
}

.footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px 100px;
  font-family: "Syne Mono", monospace;
  background-color: #e9ecef;
}
.footer__sm-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 10px;
}

#search-page {
  height: 100%;
  min-height: 90vh;
  padding-bottom: 150px;
  font-family: "Syne Mono", monospace;
  background-color: #f8f9fa;
}
#search-page .artist-search {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 70px 0;
}
#search-page .artist-search__title {
  font-size: 35px;
  margin-bottom: 0;
  text-align: center;
}
#search-page .artist-search__input-box {
  width: 350px;
}
#search-page .artist-search__input-box .search-input {
  height: 50px;
  font-size: 20px;
  background-color: #f8f9fa;
  border: 1px solid #212529;
}
#search-page .artist-search__input-box .search-input:focus {
  outline: none;
  box-shadow: 0 0 10px #000000;
}
#search-page .artist-search__input-box .search-input::-moz-placeholder {
  color: #6c757d;
}
#search-page .artist-search__input-box .search-input::placeholder {
  color: #6c757d;
}
#search-page .artist-search__input-box .search-btn {
  width: 50px;
  border: 1px solid #212529;
}
#search-page .artist-search__input-box .search-btn:hover {
  box-shadow: 0 0 10px #000000;
}
#search-page .artists-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#search-page .artists-list__card {
  width: 500px;
  background-color: #f8f9fa;
  border: solid 1px #000000;
}
#search-page .artists-list__card:hover {
  box-shadow: 0 0 15px #000000;
}
#search-page .artists-list__card--content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 16px 32px;
}
#search-page .artists-list__card--content .card-title {
  margin-bottom: 0;
  width: 75%;
}

#songs-page {
  height: 100%;
  min-height: 90vh;
  padding-bottom: 150px;
  font-family: "Syne Mono", monospace;
  background-color: #f8f9fa;
}
#songs-page .songs-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 70px 170px 50px;
  text-align: center;
}
#songs-page .songs-header__title {
  font-size: 25px;
  margin: 0;
}
#songs-page .songs-header__amount {
  font-size: 18px;
  margin: 0;
}
#songs-page .error-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
#songs-page .all-songs-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 50px;
}
#songs-page .all-songs-container .song-card {
  min-width: 400px;
  width: 40%;
  background-color: #f8f9fa;
  border: solid 1px #000000;
}
#songs-page .all-songs-container .song-card:hover {
  box-shadow: 0 0 15px #000000;
}
#songs-page .all-songs-container .song-card__body {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: #000000;
  padding: 16px 32px;
}
#songs-page .all-songs-container .song-card__body--name {
  width: 70%;
}
#songs-page .all-songs-container .song-card__body--link {
  text-align: end;
  color: inherit;
}

#lyrics-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  min-height: 90vh;
  padding-bottom: 150px;
  font-family: "Syne Mono", monospace;
  background-color: #f8f9fa;
}
#lyrics-page .lyrics-title {
  font-size: 30px;
  margin: 70px 70px 20px;
  text-align: center;
}
#lyrics-page .lyrics-text {
  font-family: "Syne Mono", monospace;
  font-size: 18px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  text-align: center;
  padding: 30px 20px;
  border: #000000 solid 1px;
  text-wrap: wrap;
}
#lyrics-page .lyrics-text:hover {
  box-shadow: 0 0 5px #000000;
}
#lyrics-page .share-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}
#lyrics-page .share-container .share-title {
  font-size: 22px;
  margin: 0;
}

@media (max-width: 700px) {
  #nav-bar {
    padding: 10px 50px;
  }
  #nav-bar .nav-link p,
  #nav-bar .nav-link a {
    display: none;
  }
  #footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 50px;
  }
  #footer .footer__author {
    display: none;
  }
  #search-page .artist-search {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
  }
  #search-page .artist-search__input-box {
    width: 250px;
  }
  #search-page .artists-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #search-page .artists-list__card {
    width: 300px;
  }
  #search-page .artists-list__card--content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    padding: 16px;
  }
  #search-page .artists-list__card--content .card-title {
    text-align: center;
  }
  #songs-page .songs-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
  }
  #songs-page .all-songs-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #songs-page .all-songs-container .song-card {
    min-width: 300px;
    width: 80%;
  }
  #songs-page .all-songs-container .song-card__body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 16px;
  }
  #songs-page .all-songs-container .song-card__body--name {
    width: 100%;
    text-align: center;
  }
  #songs-page .all-songs-container .song-card__body--link {
    text-align: center;
  }
  #lyrics-page .lyrics-title {
    font-size: 25px;
    margin: 50px 20px 20px;
  }
  #lyrics-page .lyrics-text {
    font-size: 16px;
    width: 80%;
    min-width: 300px;
  }
  #lyrics-page .share-title {
    font-size: 18px;
  }
}/*# sourceMappingURL=index.css.map */